* {
    padding: 0em;
    margin: 0em;
}

body {
    font-family: "Times New Roman", Times, serif;
    font-size: 0.5cm;
    margin-left: 0.5cm;
}

a {
    color: black;
    text-decoration: none;
}

#topbar_title, #menu, #menu, #right-of-menu, #menu_icon, button + button {
  display: none;
}

#header_image {
  display: none;
}

h1, h2, h3, h4 {
  margin: 0.5cm 0cm 0.5cm 0cm;
  color: black;
}

h1 {
  text-align: center;
}

#container_informazioni h2{
  display: none;
}

#container_informazioni h3 {
  margin-top: 1.5cm;
}

#container_informazioni p {
  margin-bottom: 0.5cm;
}

#container_informazioni span {
  font-weight: bold;
  clear: both;
  min-width: 3cm;
  display: block;
  float: left;
}

#linkMappa {
  display: block;
  margin-left: 3cm;
}

#container_informazioni ul li {
  margin-top: 0.5cm;
  list-style: none;
  margin-bottom: 0.5cm;
  min-width: 6cm;
}

#container_informazioni #orario li {
  float: left;
}

#container_informazioni ul li div, #container_informazioni ul li span + span {
  margin-left: 3cm;
  float: none;
  clear: none;
  font-weight: normal;
}

#container_informazioni ul li div span {
  float: none;
  clear: none;
  margin-left: 0cm;
  font-weight: normal;
}

#footer > * {
  display: none;
}

#copyright {
  clear: left;
  display: block;
  margin-top: 1.5cm;
}
