.CUSTOM_MARGIN{
  margin-top: 1em;
}

.products {
  border: 1px solid #333;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 16px;
  margin-bottom: 20px;
}

.table, .row, .centered {
  margin: 0px auto;
  float: none;
}

.button {
  background: #6394F8;
  color: white;
  text-align: center;
  padding: 0.3em;
  text-decoration: none;
  display: block;
  border-radius: 3px;
}

.button:visited, .button:active  {
  text-decoration: none;
  color: white;
}

.button:hover {
  background: #7fa9ff;
  text-decoration: none;
  color: white;
}

.btn-danger:hover, a, a:hover {
  text-decoration: none;
}

h3 {
  margin-top: 0px;
}
