ss@font-face {font-family: 'Velvetberries'; src: url(fonts/velvetberries.woff);}
* { margin: 0; padding: 0;}

                            /* doesn't validate with older css versions */
:root {

  --green-dark: #00796b;
  --green-main: #009688;
  --green-light: #e0f2f1;

  --red-dark: #b9463e;
  --red-main: #fe5f55;
  --red-light: #fec4c1;

  --orange-dark: #d17a48;
  --orange-main: #ff9557;
  --orange-light: #ffe2d1;

  --yellow-dark: #ba954b;
  --yellow-main: #ffcc67;
  --yellow-light: #fff1d5;

  --grey-dark: #404354;
  --grey-main: #4e5166;
  --grey-light: #bfbfca;

}
/* activate border outline for keyboard navigation */
/* I added 'em all, you never know....*/
body.show-focus-outlines a:focus,
body.show-focus-outlines button:focus,
body.show-focus-outlines [tabindex]:focus,
body.show-focus-outlines input:focus,
body.show-focus-outlines select:focus,
body.show-focus-outlines textarea:focus
{
  outline: 4px solid red;
  }
html {
  scroll-behavior: smooth;
}

/* html, body {
  height: 100%;
} */
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
body {
  font: 300 1em 'Poppins', sans-serif;
  /* background-color: rgb(245,245,245); */
  background-color: #fff;
}
                                  /* overwrite default button rules */
button {
  cursor: pointer;
  border: none;
  outline: none;
  text-align: left;
  font: 300 1em 'Poppins', sans-serif;
  display: block;    /* resolves other elements margin problem (I am looking at YOU, menu button)*/
  background: inherit;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}
/* body:not(.show-focus-outlines) button:focus,
body:not(.show-focus-outlines) [tabindex]:focus {
  outline: none;
} */

                                  /*       HEADER       */

h1 {
  text-align: center;
  width: 100%;
  color: white;
  font-family: 'Velvetberries', serif;
  font-weight: lighter;
  font-size: 7em;
  position: fixed;
  z-index: -1;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.9);
}
h1 span {
  margin-left: 40vw;
}


#container_informazioni #header_image {
  background-image: url(img/informazioni_background.jpg);
}

#container_la_mia_storia #header_image {
  background-image: url(img/la_mia_storia_background.jpg);
}
#container_prodotti #header_image {
  background-image: url(img/prodotti_background.jpg);
}
#header_image {
  background-repeat: no-repeat;
  background-size: 100%;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 30em;
  z-index: -1;
  filter: brightness(0.7);
  /* pointer-events: none; */
}

#top_of_page {
  position: absolute;
  top: 0;
}

                                        /*       CONTENT       */

#content {
  /* padding: 1.8em 8% 1em 8%; */
  background-color: rgb(245,245,245);
  /* TODO should make background-color: 245 */
  margin-bottom: 14.5em;
  padding-top: 4em;
  padding-bottom: 2em;
}
#content > *, .expanded > * {
  margin-left:1.8rem;
  margin-right: 1.8rem;
}
#content > *.expanded {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}
#content h2 {
  text-transform: capitalize;
  font-size: 2em;
  letter-spacing: 0.1em;
  margin-left: 1.2em;
  margin-right: 1.2em;
  font-weight: 300;
  text-align: center;
  color: var(--yellow-dark);
}
/* TODO queste proprieta' generiche non vanno cosi'bene */
h3 {
  text-align: center;
  font-size: 1.1em;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--yellow-dark);
}
h4, #menu li {                                     /*       DA RIVERE         */
  text-transform: uppercase;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--yellow-dark);
  margin:1em;
  font-weight: bold;
  list-style-type: none;
}
#content p {
  line-height: 1.8em;
  margin-bottom:1.5em;
  margin-top: 1.5em;
  /* letter-spacing: 0.02em; */
}
.rotated {
transform: rotate(-180deg);
transition: transform 1s ease;
}
.accessibility_hidden {

  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*       FOOTER       */
#footer {
height: 14em;
color: var(--grey-light);
background: var(--grey-main);
position: fixed;
bottom: 0;
z-index: -2;
text-align: center;
padding-top: 0.5em;
}
#footer > * {
font-size: 0.8em;
}
#footer ul {
display: flex;
flex-wrap: wrap;
list-style: none;
justify-content: center;
}
#footer_menu {
font-weight: 600;
/* border-top: var(--grey-light) solid 1px;
padding-top: 1em; */
}

#footer li{
  width: 50%;
  margin-bottom: 0.7em;
}


#footer li > a {
border-bottom: var(--grey-light) dotted 1px;
}
#footer li > * {
  /* display: block; */
  /* height: 100%; */
  /* line-height: 1.8em; */
    padding-top:0.2em;
    padding-bottom: 0.1em;
}
#torna_su_btn {
border-bottom: var(--grey-light) dotted 1px;
padding-bottom: 0.1em;
}
#footer p, #torna_su_btn{
margin:0.7em auto 0.7em auto;
}
#footer #copyright {
  font-size: 0.7em;
}


                            /*     CONSIGLI DI MARIKA       */

.tips_and_tricks {
  background-color: var(--orange-light);
  color: var(--orange-dark);
  position: relative;
  overflow: hidden;
  max-height: 60em;
  cursor: pointer;
  transition: 0.8s ease;
}
.tips_and_tricks.collapsed {
    max-height: 4.5em;
}
.tips_and_tricks h3 {
  margin: 1em;
  color: var(--orange-dark);
}
.tips_and_tricks h4 {
  color: var(--orange-dark);
  margin-top: 2em;
}
.tips_and_tricks ul {
  padding-left: 1.5em;
}
.tips_and_tricks ul span {
  font-weight: 600;
}
.tips_and_tricks .expand_icon {
  transition: 0.8s ease;
  position: absolute;
  bottom: 0;
  margin:0;
  text-align: center;
  width: 100%;
}
.tips_and_tricks li {
  margin-bottom: 1em;
}

                          /*       LISTA DI INFUSI      */

.card {
  border-radius: 7px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.10), 0 3px 6px rgba(0,0,0,0.17);
  position: relative;
  font-size: 1em;
  margin-bottom: 1.5em;
  background-color: var(--yellow-light);
  max-height: 80em;
  overflow: hidden;
  transition: max-height 0.8s ease;
  opacity: 1;
  padding-bottom: 1em;
  cursor: pointer;
}
.card.collapsed {
  max-height: 10.5em;
}
.card.collapsed img {
  max-height: 7em;
}
.card img {
  width: 100%;
  border-radius: 7px 7px 0 0;
  max-height: 10.5em;
  object-fit: cover;
  transition: max-height 0.4s ease;
  position: absolute;
  top: 0;
}
.card.collapsed h3 {
  margin-top: 7em;
}
.card h3 {
  margin: 0.3em 0.6em 1.2em 0.6em;
  line-height: 1.1em;
  display: flex;
  height: 2em;
  align-items: center;
  justify-content: center;
  transition: 0.4s ease;
  margin-top: 11.5em;
}
.card .expand_btn {
  position: absolute;
  bottom: 0;
  line-height: 1.2em;
  text-align: center;
  width: 100%;
  transition: transform 1s ease;
  color: var(--yellow-dark);
}
#content .card p, #eventi #linkMappa {
  margin: 0.7em 7% 0.7em 7%;
  font-size: 0.9em;
}


                          /*        EVENTI      */

/* .card span {} */
#eventi #prenotazione span {
  font-weight: bold;
  text-transform: uppercase;
  color: var(--red-dark);
}

#eventi #dataEvento {
  font-weight: bold;
  color: var(--grey-dark);
}

#eventi ul {
  list-style: none;
  margin-left: 5%;
  margin-right: 7%;
}

#eventi ul li {
  background-image: url('img/ampolla.jpeg');
  background-position: top left;
  background-size: 1.5em;
  background-repeat: no-repeat;
  padding-left: 1.6em;
}

#eventi #org {
  font-style: italic;
  margin-top: 2em;
}

#eventi .card {  /*in questo modo eredito il colore di sfondo dal body, quindi il bianco!(da verificare su tutti i browser)*/
  background-color: initial;
}
.data span {
  font-size: 2.5em;
}

.databox {
  float: left;
}

.data {
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  letter-spacing: 0.1em;
  width: 7em;
  height: 7em;
  display: table-cell; /*DEVO CAPIRE COSA FACCIA  (FOUAD)*/
  vertical-align: middle;
  color: white;
  background-color: #8F250C;
  border-top-left-radius: 10px;
}
#eventi .eventi img {
  max-width: 100%;
  object-fit: cover;
  border-top-right-radius: 10px;
  border-top-left-radius: 0px;
}
.eventi .titoletto {
  clear:both;
}
.eventi .testo {
 margin: 1em;
}
.imgwrap {
 display: flex;
 height: 7em;
}

                          /*       INFORMAZIONI */


#container_informazioni #linkMappa {
  display: block;
  text-align: center;
}

#container_informazioni ul {
  height: 100%;
}

#container_informazioni li {
  list-style-type : none;
  text-align: center;
  height: 4em;
}

#container_informazioni #giorniSett > li,
#container_informazioni span {
  display: block;
  text-align: center;
  font-weight: bold;
  color: var(--grey-dark);
}

#container_informazioni span, #container_informazioni h3,
#container_informazioni  h4 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

/* PER RIMUOVERE PRECEDENTI STILI */
#orario p {

  margin: auto;
}
#orario {
  max-width: 450px;
  margin: auto;
}

#orario li {
  display: flex;
  margin: 1em auto 1em auto
}

#orario li > div {
  width: 50%;
  display: flex;
  flex-direction: column;
}
/* NON NECESSARIO */
strong {
  color: var(--grey-dark);
  margin: auto;
}
/* NON NECESSARIO */
#informazioni h3 {
  margin-top:2em;
  margin-bottom: 0.7em;
}



                              /*       LOGIN       */
#log_in_box_container {
  display: flex;
  height: 100%;
  justify-content: center;
}
#log_in_box {
  width: 100%;
  padding: 2.2em;
  margin: auto 20px auto 20px;
  display: flex;
  justify-content: center;
  text-align: center;
  border-radius: 7px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.10), 0 3px 6px rgba(0,0,0,0.17);
}
#log_in_box form {
  width: 100%;
}
@media screen and (min-width:600px) {
  #log_in_box {
    width: 400px;
  }
  #log_in_box form {
    width: 330px;
  }
}

#log_in_form legend {
  width: 100%;
  margin: 1em 0 1em;
}

#log_in_box.card {
  background-color: white;
  border-radius: 15px;
}

#log_in_box fieldset {
  border:none;
}
#username, #password {
  width: 100%;
}
.form_field {
  position: relative;
  margin-top: 2.5em;
}
.form_field label {
  color: #666;
  position: absolute;
  top: 0;
  left:0;
  transition: ease 0.2s;
  transform-origin: left;
  cursor: text;
  font: 400 1.5em 'Poppins', sans-serif;
}
.form_field:focus-within label,
.form_field .filled {
  transform: translateY(-1.4em) scale(0.8);
  transform-origin: left;
  transition: ease 0.2s;
  color: var(--yellow-dark);
}
.form_field input {
  line-height: 2.5em;
  border-bottom: 1px solid #aaa;
  border-top: none;
  border-left: none;
  border-right: none;
  padding: 0.2em 0 0.2em 0;
  outline: none;
  font: 300 1.3em 'Poppins', sans-serif;
}

#log_in{
  width: 100%;
  margin: 3em 0 3em 0;

  /* display: block; */
  /* width: 85%; */
  /* border: 2px solid var(--yellow-dark); */
  border: none;
  border-radius: 7px;
  /* background-color: var(--yellow-light); */
  /* box-shadow: 0 3px 6px rgba(0,0,0,0.10), 0 3px 6px rgba(0,0,0,0.17); */
  background-color: white;
  border: 2px solid var(--yellow-dark);

  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--yellow-dark);
  font: 600 1.1em 'Poppins', sans-serif;
  line-height: 2.5em;
}

#login div.errori {
  color: red;
}

#login div.ok {
  color: green;
}
                              /*       MY STORY       */

/** {
  box-sizing: border-box;
}*/

                                /*PAGINA Ricerca*/

#myInput {
  background-image: url('/img/searchicon.png');
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myUL {
  list-style-type: none;
  padding: 0;
  margin: 0;
  height: 15em;
  overflow: hidden;
}

#myUL li a{
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 8px;
  font-size: 0.8em;
  text-decoration: none;
  color: black;
  display: block;
}

#myUL li a:hover:not(.header) {
  background-color: #eee;
}

                            /* PAGINA PRODUCTS */
#container_prodotti .card_product {
  height: 6em;
  border-radius: 7px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.10), 0 3px 6px rgba(0,0,0,0.17);
  margin-bottom: 1.5em;
  padding:0.7em;
  margin-left: 1.2em;
  margin-right: 1.2em;
  overflow: hidden;
  position: relative;
    background-color: #fff;
  /* display: grid;
  grid-template-areas: "image title title"
                       "image manufacturer manufacturer"
                       "image line line"
                       "image tags price";
  grid-template-columns: 7em auto; */
  /* grid-template-rows:3fr 1fr 1fr 3fr; */
  /* grid-row-gap: 0.7em; */
  /* align-items: center;
  justify-items: center; */
  /* flex-grow: 1; */
  /* position: relative; */
}
#container_prodotti .card_product .product_title,
#container_prodotti .card_product .product_line,
#container_prodotti .card_product .product_manufacturer,
#container_prodotti .card_product .product_bottom{
  margin: 0;
  line-height: 1em;
}
#container_prodotti .card_product .product_image {
  background-size: contain;
  height: 6em;
  width: 6em;
  /* margin:1.25em; */
  /* align-self: center; */
  grid-area: image;
  border-radius: 10px;
  float: left;

}
#container_prodotti .card_product .product_title {
  /* margin-top:1em; */
  color: var(--yellow-dark);
  grid-area: title;
  font-size: 0.9em;
  margin-bottom: 0.4em;
  /* margin-left: 7em; */
  text-align: left;
  /* margin-top: 0.5em; */
}
#container_prodotti .card_product .product_manufacturer {
  /* margin-top:0.5em; */
  grid-area: manufacturer;
  font-size: 0.9em;
  margin-bottom: 0.2em;

}
#container_prodotti .card_product .product_line {
  /* margin-top:0.3em; */
  grid-area: line;
  font-weight: lighter;
  font-style: italic;
  font-size: 0.8em;
  /* font-size: 0.9em; */
}
#container_prodotti .card_product .product_description {
  margin:0 0 0 6.5em;
  height: 6em;
  position: relative;
}
.product_tags {
  font-size: 0.6em;
  letter-spacing: 0.1em;
  align-self: end;
  justify-self: start;
  /* margin-bottom: 1.6em; */
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  display: inline;
  position: absolute;
  bottom: 0;
  line-height: 1.8em;

}
.product_tags span {
  border-radius: 10px;
  /* margin-right: 0.2em; */
  padding: 0.2em 0.5em 0.2em 0.5em;
}
.product_tags span.cosmetici {
  background-color: #ff9557;
}
.product_tags span.uomo {
  background-color: #005377;
}
.product_tags span.donna {
  background-color: #90323D;
}
.product_tags span.casa {
  background-color: #E39695;
}
.product_tags span.bimbi{
  background-color: #06a77d;
}
#container_prodotti .card_product .product_price {
  grid-area: price;
  text-align: right;
  justify-self:end;
  align-self: end;
  /* margin-right: 1em; */
  font-size: 1.1em;
  font-weight: bold;
  margin:0;
  /* margin-bottom: 1.1em; */
  /* margin-right: 2em; */
  float: right;
  line-height: 1em;
  /* bottom:0; */
  display: inline;
  position: absolute;
  bottom: 0;
  right: 0;
}

/* SCHEDA PRODOTTO */

#body_scheda_prodotto .add_to_cart_btn {
  display: block;
  margin: 0.5em auto 1em auto;
  padding: 0.5em 1em 0.4em 1em;
  border: 3px solid var(--green-main);
  border-radius: 8px;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--green-main);
  letter-spacing: 0.07em;
  transition: 0.5s ease;
  background-image: none;
}
#body_scheda_prodotto #container_scheda_prodotto .add_to_cart_btn:hover{
  transition: 0.5s ease;
  background-color: var(--green-main);
  color: rgba(245, 245, 245);
}

#body_scheda_prodotto {
  background-color: #fff;
  /* z-index: -2;
  position: relative; */
}
#container_scheda_prodotto #immagine_prodotto{
  object-fit: contain;
  height: 20em;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1;
  background-color: white;
  padding-top: 4em;
  padding-bottom: 2em;
}
#body_scheda_prodotto  .container  #content{
  background: rgb(245,245,245);
  background: linear-gradient(180deg, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 0, rgba(245,245,245,1) 2em);
  margin-top: 24em;
  /* padding: 2em; */
  /* margin-top: 0; */
  /* background-color: red; */
}
/* #container_scheda_prodotto #topbar:before {
  background-image: url('img/prodotti_background_mobile.jpg');
} */
#body_scheda_prodotto #topbar_image{
  /* filter: brightness(0.7); */
  position: absolute;
  background-color: white;
  object-fit: contain;
  height: 20em;
  width: 100%;
  transform: translateY(-8.45em);
  /* filter: brightness(0.7); */
}
#body_scheda_prodotto #topbar {
  overflow: hidden;
  /* z-index: -2; */
  visibility: hidden;
  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.2) 100%);
}



#body_scheda_prodotto #topbar:after {
content: "";
height: 100%;
width: 100%;
position: absolute;
top: 0;
background: rgb(0,0,0);
background: linear-gradient(180deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.2) 100%);
}
#topbar_container_shadow {
  position: fixed;
  top: 0;
  height: 6em;
  width: 100%;
  /* z-index: 1; */
  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0) 100%);
  z-index: 2;
}

#body_scheda_prodotto #topbar_title {
  transition: 0.5s;
  /* background-color: rgb(0,0,0,0.15); */
  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(0,0,0,0.0) 0%, rgba(0,0,0,0.4) 100%);
  text-shadow: 0px 0px 6px rgb(0,0,0,0.6);

}
#body_scheda_prodotto #topbar.visible_topbar {
  /* z-index: 2; */
  visibility: visible;
}
#body_scheda_prodotto #content h2 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0.7em;
  font-size: 1.8em;
  color: var(--green-main);
}
#body_scheda_prodotto #content h3 {
  /* margin-left: 2rem;
  margin-right: 0; */
  font-size: 1.2em;
  color: black;
  text-align: left;
}
#body_scheda_prodotto #content h4 {
  /* margin-left: 0;
  margin-right: 0; */
  color: black;
  text-align: left;
  /* font-weight: normal; */
  text-transform: capitalize;
  margin-top: 0.7em;
  margin-bottom: 0.7em;
}
#body_scheda_prodotto #content h5 {
  font-style: italic;
  font-weight: normal;
  font-size: 1em;
  /* margin-left: 0;
  margin-right: 0; */
  color: black;
  text-align: left;
  /* font-weight: normal; */
  text-transform: capitalize;
}
#body_scheda_prodotto #content p {
  font-size: 0.9em;
  margin-top: 1em;
  /* margin-left: 0;
  margin-right: 0; */
}
#body_scheda_prodotto #content .desc_breve {
  font-size: 1em;
  padding:1.8em;
  color: white;
  font-style: italic;
  background-color: var(--green-main);
  width: auto;
}
#body_scheda_prodotto .menu_btn img {
  display: none;
  cursor: pointer;
}
#body_scheda_prodotto .product_tags {
  position: static;
}
#body_scheda_prodotto .product_tags > span{
}
#body_scheda_prodotto #content .prezzo {
  font-size: 2em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
/* TODO /* WARNIN2G: /* FIXME:
repeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeat */

#immagine_prodotto{
  object-fit: cover;
  height: 20em;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1;
  background-color: white;
  /* padding-top: 4em; */
  padding-bottom: 2em;
}
#topbar.visible_topbar {
  /* z-index: 2; */
  visibility: visible;
}
#topbar {
  overflow: hidden;
  /* z-index: -2; */
  visibility: hidden;
  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.2) 100%);
}
/* erase :before */
#topbar_image{
  /* filter: brightness(0.7); */
  position: absolute;
  background-color: white;
  object-fit: cover;
  height: 20em;
  width: 100%;
  transform: translateY(-9.8em);
  /* filter: brightness(0.7); */
}
#topbar_title {
  transition: 0.5s;
  /* background-color: rgb(0,0,0,0.15); */
  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(0,0,0,0.0) 0%, rgba(0,0,0,0.4) 100%);
  text-shadow: 0px 0px 6px rgb(0,0,0,0.6);

}

#topbar:after {
content: "";
height: 100%;
width: 100%;
position: absolute;
top: 0;
background: rgb(0,0,0);
background: linear-gradient(180deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.2) 100%);
}

.container  #content {
  background: rgb(245,245,245);
  /* background: linear-gradient(180deg, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 0, rgba(245,245,245,1) 2em); */
  /* padding: 2em; */
  /* margin-top: 0; */
  /* background-color: red; */
}




                                  /*   ----------------  MOBILE   ------------------   */

@media screen and (max-width:699px) {
              #container_te_e_infusi #header_image {
                background-image: url(img/home_background_mobile.jpg);
              }
              #container_prodotti #header_image {
                background-image: url(img/prodotti_background_mobile.jpg);
              }
              #close_menu {
                margin:auto;
              }
              #menu .menu_btn {
               height: 3em;
               width: 3em;
               background-size: contain;
               background-image: url(icons/cancel.svg);
               background-repeat: no-repeat;
               cursor: pointer;
             }
             #menu {
              top:0;
              left: -66vw;
              z-index: 5;
              position: fixed;
              opacity: 1;
              width: 65vw;
              height: 100vh;
              background-color: white;
              /* transform: translateX(-66vw); */
              transition: all 0.5s ease;
            }
            #menu.showmenu {
              transform: translateX(66vw);
              transition: all 0.5s ease;
            }
            #right-of-menu {
              top: 0;
              position: fixed;
              opacity: 0;
              width: 100vw;
              height: 100vh;
              z-index: 4;
              background-color: black;
              transform: translateX(-100vw);
              transition: opacity 0.2s ease;
            }
            #right-of-menu.hidemenu {
              transform: translateX(0);
              opacity: 0.5;
            }

            #menu .menu_btn {
              margin-left: auto;
              margin-right: auto;
            }

            #menu  .menu_btn  img{
              width: 100%;
              height: 100%;
              cursor: pointer;
            }

            #menu ul li a{
              font-size: 1.1em;
              line-height: 2.5em;
              margin: auto;
              display: block;
              width: 85%;
              /* border: 2px solid var(--yellow-dark); */
              border-radius: 7px;
              background-color: var(--yellow-light);
              box-shadow: 0 3px 6px rgba(0,0,0,0.10), 0 3px 6px rgba(0,0,0,0.17);
            }
            #menu ul .selected_page {
              color: var(--grey-light);
            }
            #menu_icon {
              /* position: fixed; */
              top: 0;
              /* z-index: 3;
              color: white;
              font-size: 2.5em;
              line-height: 1.6em; */
              margin-left: 0.2em;
              /* text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
              cursor: pointer; */
            }
            #menu_icon.top_icon, #cart_icon.top_icon {
              position: fixed;
              /* top: 0; */
              z-index: 3;
              color: white;
              font-size: 2.5em;
              line-height: 1.6em;
              /* margin-left: 0.2em; */
              text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
              cursor: pointer;
            }
            #cart_icon {
              top: 0;
              right: 0;
              margin-right: 0.2em;
            }
            #container_informazioni #topbar:before {
              background-image: url(img/informazioni_background.jpg);
            }

            #container_te_e_infusi #topbar:before {
              background-image: url(img/home_background_mobile.jpg);
            }
            /*  TODO: remember to reduce image size for loading time and performance*/
            #container_la_mia_storia #topbar:before {
              background-image: url(img/la_mia_storia_background.jpg);
            }
            #container_prodotti #topbar:before {
              background-image: url(img/prodotti_background_mobile.jpg);
            }

            #topbar:before {              /* necessary element to correctly apply filter:brightness() only to the image, not the text */
              content: "";
              background-size: cover;
              background-position: 0 -10em;
              background-repeat: no-repeat;
              filter: brightness(0.7);
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
            }

            #topbar {
              width: 100vw;
              height: 4em;
              top: 0;
              position: fixed;
              z-index: -2;
            }
            #topbar_title {
              padding-top: 0;
              background-color: rgba(0,0,0,0.3);
              text-transform: capitalize;
              font-size: 2.5em;
              padding-left: 1.5em;
              line-height: 1.6em;
              letter-spacing: 0.06em;
              font-family: 'Poppins', sans-serif;
              font-weight: 300;
              opacity: 0;
              transition: opacity 0.6s ease;
              text-align: left;       /* overwrite h1 property */
              position: static;       /* overwrite h1 property */
              text-shadow: none;      /* overwrite h1 property */
              position: relative;
              z-index: 2;
            }
            #topbar_title.nopacity{
              opacity: 1;
            }
            h1 {
              font-size: 6em;
              /* line-height: 75vw; */
              top:0;
              padding-top:1em;
            }
            #content {
              margin-top: 20em;
            }
            #footer {
                width: 100%;
            }

            /* #footer li > * {
            padding: 0.1em 0.3em 0.1em 0.3em;
            } */

}



                        /*        TABLET MODE HEADER          */

@media screen and (min-width:700px)   {

      #container_te_e_infusi #header_image {
        background-image: url(img/home_background.jpg);
      }
      #container_prodotti #header_image {
        background-image: url(img/prodotti_background.jpg);
      }
      body {
        margin-top: 24em;
      }
      #body_scheda_prodotto .container #content {
        margin-top: 0;
        background: rgb(245,245,245);
      }

      #right-of-menu, #menu_icon, .menu_btn,#menu li.menu_btn, #topbar_container_shadow, #menu button:first-child , #cart_icon{
         display: none;
       }
       .container {
         width:100vw;
       }

       #content {
         margin-top: 0;
       }
       #menu {
         z-index: 5;
         height: 2.8em;
         margin-top:0;
         position: sticky;
         top:0;
         background-color: var(--yellow-light);
         transform: translateX(0);
         text-align: center;
       }
       #menu ul {
         text-align: center;
         display: flex;
         height: 100%;
       }
       #menu li {
         display: flex;
         justify-content: center;
         color: var(--grey-dark);
         flex-grow: 1;
         margin: auto;
         height: 100%;
       }
       #menu li > * {
         margin: auto;
         color: var(--grey-dark);
       }
       #menu li > a {
         border-bottom: var(--grey-dark) dashed;
       }
       #menu .selected_page {
         background-color: var(--yellow-main);
       }
       /*  for those that use the tablet with a mouse :) */
       #menu li a:hover {
         /* color: var(--yellow-dark); */
         /* border-bottom: var(--yellow-dark) dashed; */
         border-bottom: var(--grey-dark) solid;
       }
       #footer {
           width: 100%;
       }
       body #content {
         margin-top: 0;
         padding-top: 1em;
         min-height: 90%;
       }
       /* #footer li > * {
       padding: 0.5em;
       } */
       #footer li{
         width: 7em;
         /* height: 1.8em; */
         margin-left: 1em;
         margin-right: 1em;
         margin-top: 0.2em;
         margin-bottom: 0.2em;
       }
}

@media screen and (min-width:700px) and (max-width:1024px) {

        #header_image {
          top: -10em;
        }
        h1 {
          top: 0em;
        }

}
                        /*        DESKTOP MODE HEADER          */

/* added "body" to almost every rule to increase specificity, but instead I should just create a different @media for mobile */

@media screen and (min-width: 1025px) {

      .container {
        margin: 0 auto 0 auto;
        box-shadow: 0 3px 6px rgba(0,0,0,0.10), 0 3px 6px rgba(0,0,0,0.17);
      }

      .container, #header_image, body #container_scheda_prodotto #immagine_prodotto, h1, body #footer {
              width: 1025px;
        }



      #informazioni #orari li {
        display: block;
        text-align: center;
        margin-left: 30%;
      }

      #informazioni li p {
          float: left;
      }

      #informazioni .giornoSett {
        min-width: 20%;
        float: left;
      }

      #header_image {
        top: -300px;
        height: 40em;
      }
      h1 {
        font-size: 11em;
        top: 20px;

      }
}
